.navigation {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  column-gap: 17px;
  font-size: 1.5rem;
  line-height: 2.8rem;

  &__link {
    width: 63px;
    list-style: none;
    cursor: pointer;
    @extend %transition;

    &:hover {
      color: $color-primary;
    }
  }
}
